// Global styles start

body {
    background: $body-colour;
    color: $text;
    font-family: $family-primary;
    line-height: $leading-loose;

    @include fluid-font(3vw, 1em, 1.125em, 17px);
    text-rendering: optimizeSpeed;
    &.no-scroll {
      overflow: hidden;
    }
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    color: $secondary;
    text-decoration-skip-ink: auto;

    &:hover {
      color: $secondary-shade;
      transition: 0.3s;
    }
  }

  :focus {
    outline: 2px dashed $link;
    outline-offset: 0.25rem;
  }

  main:focus {
    outline: none;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: 900;
    line-height: $leading-flat;
  }

  ::selection {
    background: $secondary-glare;
    color: $black;
  }
