{% set setClass = { class: 'light' } %}
<footer role="contentinfo" class="site_footer">
  <div class="wrapper">
    <div class="columns col-2">
      <div class="column">
        <p class="legal">&copy; {{ site.name }} <span id="year"></span>  |  <a href="{{ site.url }}" title="{{ site.tagline }}">{{ site.tagline }}</a></p>
      </div>
      <div class="column">
        <div class="transition">
          <a class="promo" href="https://www.transition-creative.co.uk/" target="_blank" rel="noopener" title="Transition Creative, Web Design Studio, Gloucester">
            Site made with
            <svg class="heart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M10 3.22l-.61-.6a5.5 5.5 0 0 0-7.78 7.77L10 18.78l8.39-8.4a5.5 5.5 0 0 0-7.78-7.77l-.61.61z" />
            </svg>
            by
            <figure class="picture">
              <img src="assets/img/transition-creative-logo.png" alt="Transition Creative, Web Design Studio, Gloucester" width="30" height="30" class="image-swap lazyload">
            </figure>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
{% if env.environment === 'development' -%}
<script src="/assets/js/main.min.js" type="text/javascript"></script>
{% else -%}
<script src="/assets/js/main.min.js" type="text/javascript"></script>
<script src="https://cdn.usefathom.com/script.js" data-site="#######" defer></script>
{% endif -%}
