.hero,
h1,
h2,
h3,
h4 {
  color: $secondary-shade;
}

.hero {
  @include fluid-font(3vw, 2.799rem, 3.359rem, 49.27px);
}

h1,
.h1 {
  text-transform: uppercase;

  @include fluid-font(3vw, 2.333rem, 2.799rem, 41.05px);
}

h2,
.h2 {
  letter-spacing: -0.72px;
  font-weight: normal;
  font-style: normal;
  line-height: $leading-tight;

  @include fluid-font(3vw, 1.944rem, 2.333rem, 34.21px);
}

h3,
.h3 {
  @include fluid-font(3vw, 1.620rem, 1.944rem, 28.51px);
}

h4,
.h4 {
  @include fluid-font(3vw, 1.350rem, 1.620rem, 23.76px);
}

.small {
  @include fluid-font(3vw, 0.781rem, 0.938rem, 13.75px);
}
