button,
.button {
  display: inline-block;
  margin: 0;
  padding: 10px 36px;
  min-width: 65px;
  max-width: 130px;
  max-height: 43px;
  border: none;
  border-color: transparent;
  border-radius: 100px;
  color: $white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: $medium;
  line-height: 1;
  cursor: pointer;
  transition: background 250ms ease-in-out, transform 150ms ease;

  appearance: none;

  &:focus {
    outline: 1px dashed $primary;
    outline-offset: 5px;
  }

  &:active {
    transform: scale(0.99);
  }

 }

.primary {
  background: $primary;
  color: $black;

  &:hover,
  &:focus {
    background: $link-hover;
    color: $white;
  }

}

.fw-mobile {
  width: 100%;
  width: auto;
}
