.transition {
  display: flex;
  justify-content: center;
  font-size: $size-scale-300;

  @include respond-to('medium') {
    flex-direction: row;
    justify-content: flex-end;
  }

  .promo {
    display: inline-flex;
    align-items: center;
    margin-top: $size-scale-200;
    text-decoration: none;

    @include respond-to('medium') {
      margin-top: 0;
    }

    &:hover {
      transition: 0.7s;
      text-decoration: none;
      color: $white;
      .image-swap {
        filter: grayscale(0%);
        transition: 0.7s;
      }

      .heart {
        transition: 0.7s;

        fill: red;
      }
    }
    .heart {
      margin: 0 0.5rem;
      width: 15px;

      fill: $white;
    }

    .picture {
      margin-left: 0.5rem;
      width: 30px;
      height: 30px;
    }

    .image-swap {
      filter: grayscale(100%);
    }
  }
}